{% extends 'base.html.twig' %}

{% block title %}LiveBlog{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
    Приветствуем вас на LiveBlog. Это место, где каждый из вас может найти контент по душе,
    узнать для себя что-то новое или просто приятно провести время. LiveBlog старается стать лучшим вашим другом
    в мире новостей из интернета. Благодарим вас за оказанное доверие и активную обратную связь!
</div>
{% endblock %}
